body{
    font-family: "Lato", sans-serif;
    padding: 3em;
    font-size: 18px;
    line-height: 1.5em;
    background: #fff;
    color:#444;
    max-width: 40em;
    border-left: 6px solid #DDD;
}
a{
    color:#F6CD7E;
    text-decoration: none;
}
h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 2.5em;
    font-weight: normal;
    padding: 0em 0em .5em 0em;
}
h2{
    font-size: 1.3em;
}
header nav a{ 
    color: #DDD;
    text-decoration: underline;
}

footer {
    color:#444 
}
